<div class="show_banner">
</div>

<div class="container">

<h2><strong>Orders at your restaurants</strong></h2>
<% Restaurant.where("user_id = #{current_user.id}").each do |r|  %>
  <h4><strong><%= r.name %></strong></h4>
    <% r.orders.each do |order| %>
      <div style="border-bottom: 1px solid lightgrey !important;"  class="card-result">
      <%= cl_image_tag r.photo.key, height: 150, width: 210, crop: :fill %>

      <div class="product-text">
        <div><h2><%= order.created_at.strftime('%A %d %B at %I:%M%p') %> - <%= order.restaurant.name %></h2></div>
        <%= link_to "Checkout with this Order!", order_path(order), class: 'btn btn-primary' %>
        <% dishes = [] %>
        <% order.dish_orders.each do |dish_order| %>

          <% dishes << [dish_order.dish.name, dish_order.dish.cost]  %>
        <% end %>

          <% b = Hash.new(0) %>
          <% c = Hash.new(0) %>
          <% dishes.each do |v| %>
            <% b[v[0]] += 1 %>
            <% c["#{v[0]}_price"] += v[1] %>
          <% end %>

          <% b.each do |k,v| %>
          <div> <%= "#{v} x #{k} - £#{c["#{k}_price"] / 100}"  %> </div>
          <% end %>

        <% wines = [] %>
        <% order.wine_orders.each do |wine_order| %>

          <% wines << [wine_order.wine.name, wine_order.wine.cost]  %>
        <% end %>

          <% ba = Hash.new(0) %>
          <% ca = Hash.new(0) %>
          <% wines.each do |v| %>
            <% ba[v[0]] += 1 %>
            <% ca["#{v[0]}_price"] += v[1] %>
          <% end %>

          <% ba.each do |k,v| %>
          <div> <%= "#{v} x #{k} - £#{ca["#{k}_price"] / 100}"  %> </div>
          <% end %>



          <div> Total: £<%= order.total_cost_cents %></div>
      </div>
      </div>
      
    <% end %>
<% end %>

<h2 class="my-3"><strong>Orders you've made</strong></h2>


 <% @orders.each do |order| %>

 <div style="border-bottom: 1px solid lightgrey !important;"  class="card-result">
  <%= cl_image_tag order.restaurant.photo.key, height: 150, width: 210, crop: :fill %>

  <div class="product-text">
    <div><h2><%= order.created_at.strftime('%A %d %B at %I:%M%p') %> - <%= order.restaurant.name %></h2></div>
    <%= link_to "Checkout with this Order!", order_path(order), class: 'btn btn-primary' %>
    <% dishes = [] %>
    <% order.dish_orders.each do |dish_order| %>

      <% dishes << [dish_order.dish.name, dish_order.dish.cost]  %>
    <% end %>

      <% b = Hash.new(0) %>
      <% c = Hash.new(0) %>
      <% dishes.each do |v| %>
        <% b[v[0]] += 1 %>
        <% c["#{v[0]}_price"] += v[1] %>
      <% end %>

      <% b.each do |k,v| %>
      <div> <%= "#{v} x #{k} - £#{c["#{k}_price"] / 100}"  %> </div>
      <% end %>

    <% wines = [] %>
    <% order.wine_orders.each do |wine_order| %>

      <% wines << [wine_order.wine.name, wine_order.wine.cost]  %>
    <% end %>

      <% ba = Hash.new(0) %>
      <% ca = Hash.new(0) %>
      <% wines.each do |v| %>
        <% ba[v[0]] += 1 %>
        <% ca["#{v[0]}_price"] += v[1] %>
      <% end %>

      <% ba.each do |k,v| %>
      <div> <%= "#{v} x #{k} - £#{ca["#{k}_price"] / 100}"  %> </div>
      <% end %>



      <div> Total: £<%= order.total_cost_cents %></div>
   </div>
  </div>
  <% end %>
</div>


