<div class="d-flex mt-5">
  <div class="sidebar ml-5 pr-5 border-right border-secondary">
    <!-- Sidebar here -->



     <%= simple_form_for :search, url: restaurants_path, method: :get do |f|%>
      <%= f.input :categories, collection: ["British", "French", "Japanese"], as: :check_boxes %>
      <%= f.input :dietary, collection: ["Vegetarian", "Vegan", "Gluten-Free"], as: :check_boxes %>
      <!-- Rating Section start here, as part of the simple form -->
      <fieldset class="form-group check_boxes required search_average_rating">
        <legend class="col-form-label pt-0">Average rating <abbr title="required">*</abbr></legend>
        <input type="hidden" name="search[average_rating][]" value="">
        <div class="form-check">
          <input class="form-check-input check_boxes required" type="checkbox" value="" name="search[average_rating][]" id="search_average_rating_3">
          <label class="form-check-label collection_check_boxes" for="search_average_rating_3">
            <div>
              <a href="#"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></a>
            </div>
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input check_boxes required" type="checkbox" value="4" name="search[average_rating][]" id="search_average_rating_4">
          <label class="form-check-label collection_check_boxes" for="search_average_rating_4">
            <div>
              <a href="#"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></a>
            </div>
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input check_boxes required" type="checkbox" value="5" name="search[average_rating][]" id="search_average_rating_5">
          <label class="form-check-label collection_check_boxes" for="search_average_rating_5">
            <div>
              <a href="#"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></a>
            </div>
          </label>
        </div>
      </fieldset>
      <%= f.input :query , as: :hidden, input_html: {value: params.dig(:search, :query)} %>
      <%= f.button :submit, "Filter Results", class: "btn btn-outline-secondary" %>
    <% end %>
  </div>

  <div>
    <!-- Cards elements here -->
    <div class="row m-0">
      <!-- Iterate over the cards -->
      <% @restaurants.each do |restaurant| %>
        <div class="col-4">
          <div class="restaurant-card">

            <div class="photo">
                <img src="https://source.unsplash.com/N_Y88TWmGwA/150x150" />
            </div>

            <div class="title_and_flag">
              <h2> <%= restaurant.name %></h2>
            </div>

            <div class="dietary_and_price">

            </div>

            <div class="rating">

            </div>

          </div>
        </div>
      <% end %>
    </div>
  </div>

</div>
