<div class="index-container">
<h1>Restaurants Near You</h1>

    <%= simple_form_for :search, url: restaurants_path, method: :get do |f| %>
      <div class="sidenav">
          <p class="dropdown-btn" id="dropdown-category">Cuisine
          <i class="fa fa-caret-down"></i>
          </p>
        <div class="dropdown-container">

          <%= f.input :categories, collection: ["British", "French", "Japanese"], as: :check_boxes, wrapper_html: { class: 'category_options' } %>
        </div>
          <p class="dropdown-btn" id="dropdown-dietary">Dietary
          <i class="fa fa-caret-down"></i>
          </p>
        <div class="dropdown-container">
          <%= f.input :dietary, collection: ["Vegetarian", "Vegan", "Gluten-Free"], as: :check_boxes, wrapper_html: { class: 'dietary_options' }  %>
        </div>
          <p class="dropdown-btn" id="dropdown-rating">Rating
          <i class="fa fa-caret-down"></i>
          </p>
        <div class="dropdown-container">
          <a href="#"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></a>
          <a href="#"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></a>
          <a href="#"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></a>
        </div>
        <%= f.input :query , as: :hidden, input_html: {value: params.dig(:search, :query)} %>
        <%= f.button :submit, "Filter Results" %>
      </div>
    <% end %>

<!-- Page content -->
  <div class="main">
      <div class="row">
        <% @restaurants.each do |restaurant| %>
          <%= link_to(restaurant_path(restaurant)) do %>
            <div class="col-6">
              <div class="restaurant-card">
                <% if  restaurant.tasting_menu.present? %>
                <i class="fas fa-certificate"></i>
                <% end %>
                <img src="https://source.unsplash.com/N_Y88TWmGwA/150x150" />
                <h2> <%= restaurant.name %></h2>
                <p class= "content"><%= restaurant.description %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
  </div>
</div>





