<div class="index-page-container d-flex">
  <div class="sidebar pt-5 pl-5 pr-5">
    <!-- Sidebar here -->

     <%= simple_form_for :search, url: restaurants_path, html: {class: "sidebar-form"}, method: :get do |f|%>
      <%= f.input :categories, collection: ["British", "French", "Japanese"], as: :check_boxes, label: "Category", required: false %>
      <%= f.input :dietary, collection: ["Vegetarian", "Vegan", "Gluten-Free"], as: :check_boxes, label: "Dietary", required: false %>
      <!-- Rating Section start here, as part of the simple form -->
      <fieldset class="form-group check_boxes required search_average_rating">
        <legend class="col-form-label pt-0">Rating</legend>
        <input type="hidden" name="search[average_rating][]" value="">
        <div class="form-check">
          <input class="form-check-input check_boxes required" type="checkbox" value="3" name="search[average_rating][]" id="search_average_rating_3">
          <label class="form-check-label collection_check_boxes" for="search_average_rating_3">
            <div>
              <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
            </div>
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input check_boxes required" type="checkbox" value="4" name="search[average_rating][]" id="search_average_rating_4">
          <label class="form-check-label collection_check_boxes" for="search_average_rating_4">
            <div>
              <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
            </div>
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input check_boxes required" type="checkbox" value="5" name="search[average_rating][]" id="search_average_rating_5">
          <label class="form-check-label collection_check_boxes" for="search_average_rating_5">
            <div>
              <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
            </div>
          </label>
        </div>
      </fieldset>
      <%= f.input :query , as: :hidden, input_html: {value: params.dig(:search, :query)} %>
      <%= f.button :submit, "Filter Results", class: "btn btn-outline-primary" %>
    <% end %>
  </div>


    <div class="index-grid">
      <% @restaurants.each do |restaurant| %>
        <div class="m-3 p-3">
          <div class="restaurant-card">
            <% if restaurant.photo.attached?  %>
              <%= cl_image_tag restaurant.photo.key, height: 300, width: 400, crop: :fill %>
            <% else %>
               <%= image_tag "dish.jpg" %>
              <!-- <img height="300" width="400" src="https://res.cloudinary.com/dzyd1ynmn/image/upload/v1605792731/no_img_available_skqx9j.png"> -->
          <% end %>

            <div class="restaurant-card-container">
               <div class="restaurant-card-title_and_flag d-flex justify-content-between mt-1">
                <h4><b> <%= link_to restaurant.name, restaurant_path(restaurant.id) %> </b></h4>
              </div>


              <div class="restaurant-card-dietary_and_price">
                <div class="d-flex property">
                  <p><small><%= restaurant.category %> cuisine</small></p>
                  <p class="flag"><%= image_tag "#{restaurant.flag_file_name}" %><p>
                  <!-- <p><small>£££</small></p> -->
                </div>
                <% if restaurant.dietary_icon_file_name != "dietary_fallback.png" %>
                  <div class="d-flex property">
                    <p><small><%= restaurant.dietary %></small></p>
                    <p class="flag"><%= image_tag "#{restaurant.dietary_icon_file_name}" %><p>
                  </div>
                <% else %>
                   <div class="d-flex property">
                    <p><small class="empty">Empty</small></p>
                    <p><small class="em"><i class="far fa-empty-set"></i></small></p>
                  </div>
                <% end %>
                <!-- <div class="d-flex property">
                <% if restaurant.dietary %>
                  <p><small><%= restaurant.dietary %></small></p>
                  <p><small><%= restaurant.dietary_icon.html_safe %></small></p>

                <% else %>
                 <p><small class="empty">Empty</small></p>
                 <p><small class="em"><i class="far fa-empty-set"></i></small></p>
                <% end %>
                </div> -->

              </div>

              <div class="restaurant-card-rating d-flex justify-content-between mt-4">

                <div>
                  <% restaurant.average_rating.to_i.times do  %>
                    <i class="fas fa-star"></i>
                  <% end %>
                </div>

                <h7><b><%= restaurant.rating_in_words %></b></h7>

              </div>
            </div>
          </div>
        </div>
       <% end %>
    </div>

</div>
