<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '212964376884978',
      xfbml      : true,
      version    : 'v9.0'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<div class="row m-0">
  <div class="left-col col-6 p-5">
    <h4 class="text-info mt-3 pt-3">Hey Sam, let's create your new restaurant</h4>
    <div class="form-top">
      <p class="text-secondary mt-5">First things first: Let's start with the basics</p>
      <h5 class="text-muted"></h5>
      <%= simple_form_for @restaurant do |f| %>
      <%= f.input :name, label: false, placeholder: 'Restaurant Name' %>
      <%= f.input :description, label: false, placeholder: 'Your restaurant description' %>
      <div class="row">
        <div class="col-6">
         <%= f.input :category, prompt: "Category", collection: ["b", "c"], as: :select, label: false, placeholder: 'Category'%>
        </div>
        <div class="col-6">
          <%= f.input :dietary, prompt: "Dietary", collection: ["Vegan", "Vegaterian"], as: :select, label: false, placeholder: 'Dietary'%>
        </div>
      </div>
      <hr>
      <p class="text-secondary">Now let's add the address and contact details</p>
      <div class="row">
        <div class="col-6">
         <%= f.input :address, label: false, placeholder: 'Address' %>
        </div>
        <div class="col-6">
          <%= f.input :phone_number, label: false, placeholder:'Phone'%>
        </div>
      </div>
      <hr>
      <p class="text-secondary">Let's connect your instagram and spotify to give your customers the best experience.</p>
      <div class="row">
        <div class="col-6">
         <%= f.input :instagram_url, label: false, placeholder:'Instagram Username' %>
        </div>
        <div class="col-6">
          <%= f.input :spotify_url, label: false, placeholder:'Spotify Playlist URL'%>
        </div>
      </div>
      <%= f.button :submit, type: "submit", class: "btn btn-secondary" %>
    <% end %>
    </div>

  </div>
  <div class="right-col col-6 vh-100"></div>
