<div class="show_banner">
</div>
<div class="show_banner mb-5">
  <div class="row restaurant-info justify-content-between">
    <div>
     <h1><%= @restaurant.name %></h1>
     <h6><%= @restaurant.description %></h6>
     <p><%= @restaurant.category %></p>
     <p><%= @restaurant.dietary %></p>
    </div>
    <div class="spotify">
      <iframe src="https://open.spotify.com/embed/playlist/7hd5XLacuyCRIODSvDjfcG" width="370" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </div>
  </div>
</div>

  <div class="tasting-menu">
    <h4>Why not try our Tasting Menu?</h4>
    <p>Just choose atleast 2 of the dishes below to create your own tasting menu</p>
    <div class="restaurant-cards">
      <% @restaurant.menus.each do |menu| %>
        <% if menu.tasting == true  %>
          <div class="multiple-items">
           <% @restaurant.menus.first.menu_items.each do |items| %>
              <div class="card-dish p-3" >
                <% if items.dish.photo.attached?  %>
                  <%= cl_image_tag items.dish.photo.key, height: 300, width: 400, crop: :fill %>
                <% else %>
                  <img height="300" width="400" src="https://res.cloudinary.com/dzyd1ynmn/image/upload/v1605792731/no_img_available_skqx9j.png">
                  http://res.cloudinary.com/dzyd1ynmn/image/upload/c_fill,h_300,w_400/1askgpvmvupv9jbodyzmcujo6cva
                <% end %>
                <div class="card-dish-infos">
                  <div>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn link_to_modal" data-toggle="modal" data-target="#exampleModal_<%= items.dish.id %>">
                      <%= items.dish.name %>
                    </button>
                    <button type="button" class="btn btn-primary py-2" id="dish_basket" data-dish-id="<%= items.dish.id %>" data-dish-name="<%= items.dish.name %>">Add to Basket</button>
                    <p><%= items.dish.instructions if items.dish.prep_time == 0%></p>
                    <p><%= "Ready in only #{items.dish.prep_time}minutes." if items.dish.prep_time > 0 %></p>
                  </div>
                  <h2 class="card-trip-pricing">£<%= items.dish.cost / 100  %></h2>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>


<div class="bottom-container">
  <div class="alacarte col-8">
    <h2> A la Carte </h2>

    <div class="">
        <h3> Starters </h3>
			<div class="alacarte_cards">
				<% @restaurant.menus.each do |menu| %>
				<% if menu.tasting == false  %>
					<% menu.menu_items.each do |items| %>
						<% if items.dish.meal_category == "Starter"  %>
							<div class="card-dish" >
							<% if items.dish.photo.attached?  %>
                <%= cl_image_tag items.dish.photo.key, height: 300, width: 400, crop: :fill %>
                <% else %>
                <img height="300" width="400" src="https://res.cloudinary.com/dzyd1ynmn/image/upload/v1605792731/no_img_available_skqx9j.png">
              <% end %>
								<div class="card-dish-infos">

                    <!-- Button trigger modal -->
											<button type="button" class="btn link_to_modal" data-toggle="modal" data-target="#exampleModal_<%= items.dish.id %>">
												<%= items.dish.name %>
											</button>
											<button type="button" class="btn btn-primary py-2" id="dish_basket" data-dish-id="<%= items.dish.id %>" data-dish-name="<%= items.dish.name %>">Add to Basket</button>


                    <!-- Modal -->
										<div class="modal fade" id="exampleModal_<%= items.dish.id %>" tabindex="-1" role="dialog" pearia-labelledby="exampleModalLabel" aria-hidden="true">
											<div class="modal-dialog" role="document">
												<div class="modal-content">
													<div class="modal-header">
														<h5 class="modal-title" id="exampleModalLabel"><%= items.dish.name %></h5>
														<button type="button" class="close" data-dismiss="modal" aria-label="Close">
															<span aria-hidden="true">&times;</span>
														</button>
													</div>
													<div class="modal-body">
														<div class="card-product" id="dish-price" >
															<% if items.dish.photo.attached?  %>
                                <%= cl_image_tag items.dish.photo.key, height: 300, width: 400, crop: :fill %>
                              <% else %>
                                <img height="300" width="400" src="https://res.cloudinary.com/dzyd1ynmn/image/upload/v1605792731/no_img_available_skqx9j.png">
                                http://res.cloudinary.com/dzyd1ynmn/image/upload/c_fill,h_300,w_400/1askgpvmvupv9jbodyzmcujo6cva
                              <% end %>
															  <div class="product-infos">
																	<div class="title_price">
																		<h2><%= items.dish.name %></h2>
																		<h2>£ <%= items.dish.cost / 100 %></h2 >
																	</div>
																	  <div class="row_description">
  																		<% if  items.dish.dietary == "None" %>
  																		<% else %>
  																			<p> <%= "Perfect for #{items.dish.dietary} diets." %> </p>
  																		<% end %>
																	  </div>
																	  <button type="button" class="btn btn-primary py-2" id="dish_basket" data-dish-id="<%= items.dish.id %>" data-dish-name="<%= items.dish.name %>">Add to Basket</button>
															  </div>
															</div>
															<div class="dish_instructions">
																	<h2><strong>Instructions:</strong></h2>
																	<div>
																		<p> <%= items.dish.instructions.gsub(/\n/, '<br/>') %> </p>
																	</div>
															</div>
                                <% if items.dish.wine %>
    															<div class="wine_title">
    															<h2><strong>Perfect Pairing:</strong></h2>
    																<%= link_to "Add wine",  new_dish_wine_path(items.dish.id) if current_user.admin?  %>
    															</div>
  															    <div class="card-product">
        															<% if items.dish.wine.photo.attached?  %>
                                        <%= cl_image_tag items.dish.wine.photo.key, height: 300, width: 400, crop: :fill %>
                                      <% else %>
                                        <img height="300" width="400" src="https://res.cloudinary.com/dzyd1ynmn/image/upload/v1605792731/no_img_available_skqx9j.png">
                                        http://res.cloudinary.com/dzyd1ynmn/image/upload/c_fill,h_300,w_400/1askgpvmvupv9jbodyzmcujo6cva
                                      <% end %>
  																	  <div class="product-infos">
  																		  <div class="title_price">
  																				<h2><%= items.dish.wine.name %></h2>
  																				<h2>£
  																				<%= items.dish.wine.cost / 100 %></h2>
  																		  </div>
      																		<div class="row_description">
      																			<p> <%= items.dish.wine.description  %> </p>
      																		</div>
  																		    <button type="button" class="btn btn-primary py-2" id="wine_basket" data-dish-id="<%= items.dish.wine.id %>" data-dish-name="<%= items.dish.wine.name %>">Add to Basket</button>
  																	  </div>
  															    </div>
  															<% else %>
  															 <%= link_to "Add wine",  new_dish_wine_path(items.dish_id) if current_user.admin?  %>
  														  <% end %>
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
													</div>
												</div>
											</div>
										</div>

											<p><%= items.dish.instructions if items.dish.prep_time == 0%></p>
											<p><%= "Ready in only #{items.dish.prep_time}minutes." if items.dish.prep_time > 0 %></p>


									<h2 class="card-trip-pricing">£<%= items.dish.cost / 100  %></h2>

								</div>

							</div>
							<% end %>
						<% end %>
					<% end %>
				<% end %>
			</div>
		</div>



		<div class="">
      <h3> Main </h3>
			<div class="alacarte_cards">
				<% @restaurant.menus.each do |menu| %>
				<% if menu.tasting == false  %>
					<% menu.menu_items.each do |items| %>
						<% if items.dish.meal_category == "Main"  %>
							<div class="card-dish" >
							<% if items.dish.photo.attached?  %>
                <%= cl_image_tag items.dish.photo.key, height: 300, width: 400, crop: :fill %>
              <% else %>
                <img height="300" width="400" src="https://res.cloudinary.com/dzyd1ynmn/image/upload/v1605792731/no_img_available_skqx9j.png">
                http://res.cloudinary.com/dzyd1ynmn/image/upload/c_fill,h_300,w_400/1askgpvmvupv9jbodyzmcujo6cva
              <% end %>
								<div class="card-dish-infos">
									<div>
										<!-- Button trigger modal -->
											<button type="button" class="btn link_to_modal" data-toggle="modal" data-target="#exampleModal_<%= items.dish.id %>">
												<%= items.dish.name %>
											</button>
											<button type="button" class="btn btn-primary py-2" id="dish_basket" data-dish-id="<%= items.dish.id %>" data-dish-name="<%= items.dish.name %>">Add to Basket</button>
										<!-- Modal -->
										<div class="modal fade" id="exampleModal_<%= items.dish.id %>" tabindex="-1" role="dialog" pearia-labelledby="exampleModalLabel" aria-hidden="true">
											<div class="modal-dialog" role="document">
												<div class="modal-content">
													<div class="modal-header">
														<h5 class="modal-title" id="exampleModalLabel"><%= items.dish.name %></h5>
														<button type="button" class="close" data-dismiss="modal" aria-label="Close">
															<span aria-hidden="true">&times;</span>
														</button>
													</div>
													<div class="modal-body">

															<div class="card-product" id="dish-price" >
															<% if items.dish.photo.attached?  %>
                                <%= cl_image_tag items.dish.photo.key, height: 300, width: 400, crop: :fill %>
                              <% else %>
                                <img height="300" width="400" src="https://res.cloudinary.com/dzyd1ynmn/image/upload/v1605792731/no_img_available_skqx9j.png">
                                http://res.cloudinary.com/dzyd1ynmn/image/upload/c_fill,h_300,w_400/1askgpvmvupv9jbodyzmcujo6cva
                              <% end %>
															<div class="product-infos">
																	<div class="title_price">
																		<h2><%= items.dish.name %></h2>
																		<h2>£ <%= items.dish.cost / 100 %></h2 >
																	</div>
																	<div class="row_description">
																		<% if  items.dish.dietary == "None" %>
																		<% else %>
																			<p> <%= "Perfect for #{items.dish.dietary} diets." %> </p>
																		<% end %>
																	</div>
																	<button type="button" class="btn btn-primary py-2" id="dish_basket" data-dish-id="<%= items.dish.id %>" data-dish-name="<%= items.dish.name %>">Add to Basket</button>
															</div>
															</div>
															<div class="dish_instructions">
																	<h2><strong>Instructions:</strong></h2>
																	<div>
																		<p> <%= items.dish.instructions %> </p>
																	</div>
															</div>
                               <% if items.dish.wine %>
															<div class="wine_title">
															<h2><strong>Perfect Pairing:</strong></h2>

															</div>
															<div class="card-product">
															<% if items.dish.wine.photo.attached?  %>
                                <%= cl_image_tag items.dish.wine.photo.key, height: 300, width: 400, crop: :fill %>
                              <% else %>
                                <img height="300" width="400" src="https://res.cloudinary.com/dzyd1ynmn/image/upload/v1605792731/no_img_available_skqx9j.png">
                                http://res.cloudinary.com/dzyd1ynmn/image/upload/c_fill,h_300,w_400/1askgpvmvupv9jbodyzmcujo6cva
                              <% end %>
																	<div class="product-infos">
																		<div class="title_price">
																				<h2><%= items.dish.wine.name %></h2>
																				<h2>£
																				<%= items.dish.wine.cost / 100 %></h2>
																		</div>
																		<div class="row_description">
																			<p> <%= items.dish.wine.description  %> </p>
																		</div>
																		<button type="button" class="btn btn-primary py-2" id="wine_basket" data-dish-id="<%= items.dish.wine.id %>" data-dish-name="<%= items.dish.wine.name %>">Add to Basket</button>
																	</div>
															</div>
															<% else %>
															<%= link_to "Add wine",  new_dish_wine_path(items.dish_id) if current_user.admin?  %>
                            <% end %>
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

													</div>
												</div>
											</div>
										</div>

											<p><%= items.dish.instructions if items.dish.prep_time == 0%></p>
											<p><%= "Ready in only #{items.dish.prep_time}minutes." if items.dish.prep_time > 0 %></p>

									</div>
									<h2 class="card-trip-pricing">£<%= items.dish.cost / 100  %></h2>


								</div>

							</div>
							<% end %>
						<% end %>
					<% end %>
				<% end %>
			</div>
		</div>


	<h3> Desserts </h3>
		<div class="">
			<div class="alacarte_cards">
				<% @restaurant.menus.each do |menu| %>
				<% if menu.tasting == false  %>
					<% menu.menu_items.each do |items| %>
						<% if items.dish.meal_category == "Dessert"  %>
							<div class="card-dish" >
							<% if items.dish.photo.attached?  %>
                <%= cl_image_tag items.dish.photo.key, height: 300, width: 400, crop: :fill %>
              <% else %>
                <img height="300" width="400" src="https://res.cloudinary.com/dzyd1ynmn/image/upload/v1605792731/no_img_available_skqx9j.png">
                http://res.cloudinary.com/dzyd1ynmn/image/upload/c_fill,h_300,w_400/1askgpvmvupv9jbodyzmcujo6cva
              <% end %>
								<div class="card-dish-infos">
									<div>
										<!-- Button trigger modal -->
											<button type="button" class="btn link_to_modal" data-toggle="modal" data-target="#exampleModal_<%= items.dish.id %>">
												<%= items.dish.name %>
											</button>
											<button type="button" class="btn btn-primary py-2" id="dish_basket" data-dish-id="<%= items.dish.id %>" data-dish-name="<%= items.dish.name %>">Add to Basket</button>
										<!-- Modal -->
										<div class="modal fade" id="exampleModal_<%= items.dish.id %>" tabindex="-1" role="dialog" pearia-labelledby="exampleModalLabel" aria-hidden="true">
											<div class="modal-dialog" role="document">
												<div class="modal-content">
													<div class="modal-header">
														<h5 class="modal-title" id="exampleModalLabel"><%= items.dish.name %></h5>
														<button type="button" class="close" data-dismiss="modal" aria-label="Close">
															<span aria-hidden="true">&times;</span>
														</button>
													</div>
													<div class="modal-body">

															<div class="card-product" id="dish-price" >
															<% if items.dish.photo.attached?  %>
                                <%= cl_image_tag items.dish.photo.key, height: 300, width: 400, crop: :fill %>
                              <% else %>
                                <img height="300" width="400" src="https://res.cloudinary.com/dzyd1ynmn/image/upload/v1605792731/no_img_available_skqx9j.png">
                                http://res.cloudinary.com/dzyd1ynmn/image/upload/c_fill,h_300,w_400/1askgpvmvupv9jbodyzmcujo6cva
                              <% end %>
															<div class="product-infos">
																	<div class="title_price">
																		<h2><%= items.dish.name %></h2>
																		<h2>£ <%= items.dish.cost / 100 %></h2 >
																	</div>
																	<div class="row_description">
																		<% if  items.dish.dietary == "None" %>
																		<% else %>
																			<p> <%= "Perfect for #{items.dish.dietary} diets." %> </p>
																		<% end %>
																	</div>
																	<button type="button" class="btn btn-primary py-2" id="dish_basket" data-dish-id="<%= items.dish.id %>" data-dish-name="<%= items.dish.name %>">Add to Basket</button>
															</div>
															</div>
															<div class="dish_instructions">
																	<h2><strong>Instructions:</strong></h2>
																	<div>
																		<p> <%= items.dish.instructions %> </p>
																	</div>
															</div>
                               <% if items.dish.wine %>
															<div class="wine_title">
															<h2><strong>Perfect Pairing:</strong></h2>
															<%= link_to "Add wine",  new_dish_wine_path(items.dish.id) if current_user.admin?  %>
															</div>
															<div class="card-product">
															<% if items.dish.wine.photo.attached?  %>
                                <%= cl_image_tag items.dish.wine.photo.key, height: 300, width: 400, crop: :fill %>
                              <% else %>
                                <img height="300" width="400" src="https://res.cloudinary.com/dzyd1ynmn/image/upload/v1605792731/no_img_available_skqx9j.png">
                                http://res.cloudinary.com/dzyd1ynmn/image/upload/c_fill,h_300,w_400/1askgpvmvupv9jbodyzmcujo6cva
                              <% end %>
																	<div class="product-infos">
																		<div class="title_price">
																				<h2><%= items.dish.wine.name %></h2>
																				<h2>£
																				<%= items.dish.wine.cost / 100 %></h2>
																		</div>
																		<div class="row_description">
																			<p> <%= items.dish.wine.description  %> </p>
																		</div>
																		<button type="button" class="btn btn-primary py-2" id="wine_basket" data-dish-id="<%= items.dish.wine.id %>" data-dish-name="<%= items.dish.wine.name %>">Add to Basket</button>
																	</div>
															</div>
															<% else %>
															<%= link_to "Add wine",  new_dish_wine_path(items.dish_id) if current_user.admin?  %>
														<% end %>
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
													</div>
												</div>
											</div>
										</div>
											<p><%= items.dish.instructions if items.dish.prep_time == 0%></p>
											<p><%= "Ready in only #{items.dish.prep_time}minutes." if items.dish.prep_time > 0 %></p>
									</div>
									<h2 class="card-trip-pricing">£<%= items.dish.cost / 100  %></h2>
								  </div>
							  </div>
							<% end %>
						<% end %>
					<% end %>
				<% end %>
			
			</div>
    </div>

    <div class="new-dish p-5">
      <% if current_user.admin? %>
      <%= link_to 'Add a New Dish to Your Menu!', new_restaurant_dish_path(@restaurant), class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>

	<div class="col-3 restaurant-cart basket-info">
    <h2>Basket</h2>
    <%= simple_form_for [@restaurant, @order] do |f| %>
    <%= f.input :dish_id, as: :hidden %>
    <%= f.input :wine_id, as: :hidden %>
		<%= f.input :status, :input_html => { :value => 'Being Prepared' }, as: :hidden %>
    <%= @order.dish %>
    <%= f.submit 'Confirm Order', class: 'btn btn-primary' %>
    <%# <%= link_to "View Basket", dashboard_path, class: 'btn btn-checkout' %>
    <% end %>
  </div>
</div>

