<div class="show_banner">
</div>
<div class="show_banner">
   <h1><%= @restaurant.name %></h1>
   <p><%= @restaurant.description %></p>
</div>


	<div class="container">
	<div class="container_all">
	<div class="restaurant_cards">
		<h2> Tasting Menu </h2>
		<div class="row">
			<div class="cards">
				<% @restaurant.menus.each do |menu| %>
				<% if menu.tasting == true  %>
					<% menu.menu_items.each do |items| %>
							<div class="card-dish" >
							<% if items.dish.photo.attached?  %>
                <%= cl_image_tag items.dish.photo.key, height: 300, width: 400, crop: :fill %>
              <% else %>
                <img height="300" width="400" src="https://res.cloudinary.com/dzyd1ynmn/image/upload/v1605792731/no_img_available_skqx9j.png">
                http://res.cloudinary.com/dzyd1ynmn/image/upload/c_fill,h_300,w_400/1askgpvmvupv9jbodyzmcujo6cva
              <% end %>
								<div class="card-dish-infos">
									<div>
										<!-- Button trigger modal -->
											<button type="button" class="btn link_to_modal" data-toggle="modal" data-target="#exampleModal_<%= items.dish.id %>">
												<%= items.dish.name %>
											</button>
											<button type="button" class="btn btn-primary py-2" id="dish_basket" data-dish-id="<%= items.dish.id %>" data-dish-name="<%= items.dish.name %>">Add to Basket</button>
										<!-- Modal -->
										<div class="modal fade" id="exampleModal_<%= items.dish.id %>" tabindex="-1" role="dialog" pearia-labelledby="exampleModalLabel" aria-hidden="true">
											<div class="modal-dialog" role="document">
												<div class="modal-content">
													<div class="modal-header">
														<h5 class="modal-title" id="exampleModalLabel"><%= items.dish.name %></h5>
														<button type="button" class="close" data-dismiss="modal" aria-label="Close">
															<span aria-hidden="true">&times;</span>
														</button>
													</div>
													<div class="modal-body">

															<div class="card-product" id="dish-price" >
															<% if items.dish.photo.attached?  %>
                                              <%= cl_image_tag items.dish.photo.key, height: 300, width: 400, crop: :fill %>
                                            <% else %>
                                              <img height="300" width="400" src="https://res.cloudinary.com/dzyd1ynmn/image/upload/v1605792731/no_img_available_skqx9j.png">
                                              http://res.cloudinary.com/dzyd1ynmn/image/upload/c_fill,h_300,w_400/1askgpvmvupv9jbodyzmcujo6cva
                                            <% end %>
															<div class="product-infos">
																	<div class="title_price">
																		<h2><%= items.dish.name %></h2>
																		<h2>£ <%= items.dish.cost / 100 %></h2 >
																	</div>
																	<div class="row_description">
																		<% if  items.dish.dietary == "None" %>
																		<% else %>
																			<p> <%= "Perfect for #{items.dish.dietary} diets." %> </p>
																		<% end %>
																	</div>
																	<button type="button" class="btn btn-primary py-2" id="dish_basket" data-dish-id="<%= items.dish.id %>" data-dish-name="<%= items.dish.name %>" >Add to Basket</button>
															</div>
															</div>
															<div class="dish_instructions">
																	<h2><strong>Instructions:</strong></h2>
																	<div>
																		<p> <%= items.dish.instructions %> </p>
																	</div>
															</div>
                               <% if items.dish.wine %>
															<div class="wine_title">
															<h2><strong>Perfect Pairing:</strong></h2>
															</div>
															<div class="card-product">
															<% if items.dish.wine.photo.attached?  %>
                                              <%= cl_image_tag items.dish.wine.photo.key, height: 300, width: 400, crop: :fill %>
                                            <% else %>
                                              <img height="300" width="400" src="https://res.cloudinary.com/dzyd1ynmn/image/upload/v1605792731/no_img_available_skqx9j.png">
                                              http://res.cloudinary.com/dzyd1ynmn/image/upload/c_fill,h_300,w_400/1askgpvmvupv9jbodyzmcujo6cva
                                            <% end %>
																	<div class="product-infos">
																		<div class="title_price">
																				<h2><%= items.dish.wine.name %></h2>
																				<h2>£
																				<%= items.dish.wine.cost / 100 %></h2>
																		</div>
																		<div class="row_description">
																			<p> <%= items.dish.wine.description  %> </p>
																		</div>
																		<button type="button" class="btn btn-primary py-2" id="wine_basket" data-dish-id="<%= items.dish.wine.id %>" data-dish-name="<%= items.dish.wine.name %>">Add to Basket</button>
																	</div>
															</div>
														<% end %>
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

													</div>
												</div>
											</div>
										</div>

											<p><%= items.dish.instructions if items.dish.prep_time == 0%></p>
											<p><%= "Ready in only #{items.dish.prep_time}minutes." if items.dish.prep_time > 0 %></p>

									</div>
									<h2 class="card-trip-pricing">£<%= items.dish.cost / 100  %></h2>

								</div>

							</div>
						<% end %>
					<% end %>
				<% end %>
			</div>
		</div>



		<h2> A la Carte </h2>
		<h3> Starters </h3>
		<div class="row">
			<div class="cards">
				<% @restaurant.menus.each do |menu| %>
				<% if menu.tasting == false  %>
					<% menu.menu_items.each do |items| %>
						<% if items.dish.meal_category == "starter"  %>
							<div class="card-dish" >
							<% if items.dish.photo.attached?  %>
                <%= cl_image_tag items.dish.photo.key, height: 300, width: 400, crop: :fill %>
                <% else %>
                <img height="300" width="400" src="https://res.cloudinary.com/dzyd1ynmn/image/upload/v1605792731/no_img_available_skqx9j.png">
                http://res.cloudinary.com/dzyd1ynmn/image/upload/c_fill,h_300,w_400/1askgpvmvupv9jbodyzmcujo6cva
              <% end %>
								<div class="card-dish-infos">
									<div>
										<!-- Button trigger modal -->
											<button type="button" class="btn link_to_modal" data-toggle="modal" data-target="#exampleModal_<%= items.dish.id %>">
												<%= items.dish.name %>
											</button>
											<button type="button" class="btn btn-primary py-2" id="dish_basket" data-dish-id="<%= items.dish.id %>" data-dish-name="<%= items.dish.name %>">Add to Basket</button>
										<!-- Modal -->
										<div class="modal fade" id="exampleModal_<%= items.dish.id %>" tabindex="-1" role="dialog" pearia-labelledby="exampleModalLabel" aria-hidden="true">
											<div class="modal-dialog" role="document">
												<div class="modal-content">
													<div class="modal-header">
														<h5 class="modal-title" id="exampleModalLabel"><%= items.dish.name %></h5>
														<button type="button" class="close" data-dismiss="modal" aria-label="Close">
															<span aria-hidden="true">&times;</span>
														</button>
													</div>
													<div class="modal-body">

															<div class="card-product" id="dish-price" >
															<% if items.dish.photo.attached?  %>
                                <%= cl_image_tag items.dish.photo.key, height: 300, width: 400, crop: :fill %>
                              <% else %>
                                <img height="300" width="400" src="https://res.cloudinary.com/dzyd1ynmn/image/upload/v1605792731/no_img_available_skqx9j.png">
                                http://res.cloudinary.com/dzyd1ynmn/image/upload/c_fill,h_300,w_400/1askgpvmvupv9jbodyzmcujo6cva
                              <% end %>
															<div class="product-infos">
																	<div class="title_price">
																		<h2><%= items.dish.name %></h2>
																		<h2>£ <%= items.dish.cost / 100 %></h2 >
																	</div>
																	<div class="row_description">
																		<% if  items.dish.dietary == "None" %>
																		<% else %>
																			<p> <%= "Perfect for #{items.dish.dietary} diets." %> </p>
																		<% end %>
																	</div>
																	<button type="button" class="btn btn-primary py-2" id="dish_basket" data-dish-id="<%= items.dish.id %>" data-dish-name="<%= items.dish.name %>">Add to Basket</button>
															</div>
															</div>
															<div class="dish_instructions">
																	<h2><strong>Instructions:</strong></h2>
																	<div>
																		<p> <%= items.dish.instructions %> </p>
																	</div>
															</div>
                              <% if items.dish.wine %>
															<div class="wine_title">
															<h2><strong>Perfect Pairing:</strong></h2>
																<%= link_to "Add wine",  new_dish_wine_path(items.dish.id) if current_user.admin?  %>
															</div>
															<div class="card-product">
															<% if items.dish.wine.photo.attached?  %>
                                <%= cl_image_tag items.dish.wine.photo.key, height: 300, width: 400, crop: :fill %>
                              <% else %>
                                <img height="300" width="400" src="https://res.cloudinary.com/dzyd1ynmn/image/upload/v1605792731/no_img_available_skqx9j.png">
                                http://res.cloudinary.com/dzyd1ynmn/image/upload/c_fill,h_300,w_400/1askgpvmvupv9jbodyzmcujo6cva
                              <% end %>
																	<div class="product-infos">
																		<div class="title_price">
																				<h2><%= items.dish.wine.name %></h2>
																				<h2>£
																				<%= items.dish.wine.cost / 100 %></h2>
																		</div>
																		<div class="row_description">
																			<p> <%= items.dish.wine.description  %> </p>
																		</div>
																		<button type="button" class="btn btn-primary py-2" id="wine_basket" data-dish-id="<%= items.dish.wine.id %>" data-dish-name="<%= items.dish.wine.name %>">Add to Basket</button>
																	</div>
															</div>
														<% end %>
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

													</div>
												</div>
											</div>
										</div>

											<p><%= items.dish.instructions if items.dish.prep_time == 0%></p>
											<p><%= "Ready in only #{items.dish.prep_time}minutes." if items.dish.prep_time > 0 %></p>

									</div>
									<h2 class="card-trip-pricing">£<%= items.dish.cost / 100  %></h2>

								</div>

							</div>
							<% end %>
						<% end %>
					<% end %>
				<% end %>
			</div>
		</div>


	<h3> Main </h3>
		<div class="row">
			<div class="cards">
				<% @restaurant.menus.each do |menu| %>
				<% if menu.tasting == false  %>
					<% menu.menu_items.each do |items| %>
						<% if items.dish.meal_category == "main"  %>
							<div class="card-dish" >
							<% if items.dish.photo.attached?  %>
                <%= cl_image_tag items.dish.photo.key, height: 300, width: 400, crop: :fill %>
              <% else %>
                <img height="300" width="400" src="https://res.cloudinary.com/dzyd1ynmn/image/upload/v1605792731/no_img_available_skqx9j.png">
                http://res.cloudinary.com/dzyd1ynmn/image/upload/c_fill,h_300,w_400/1askgpvmvupv9jbodyzmcujo6cva
              <% end %>
								<div class="card-dish-infos">
									<div>
										<!-- Button trigger modal -->
											<button type="button" class="btn link_to_modal" data-toggle="modal" data-target="#exampleModal_<%= items.dish.id %>">
												<%= items.dish.name %>
											</button>
											<button type="button" class="btn btn-primary py-2" id="dish_basket" data-dish-id="<%= items.dish.id %>" data-dish-name="<%= items.dish.name %>">Add to Basket</button>
										<!-- Modal -->
										<div class="modal fade" id="exampleModal_<%= items.dish.id %>" tabindex="-1" role="dialog" pearia-labelledby="exampleModalLabel" aria-hidden="true">
											<div class="modal-dialog" role="document">
												<div class="modal-content">
													<div class="modal-header">
														<h5 class="modal-title" id="exampleModalLabel"><%= items.dish.name %></h5>
														<button type="button" class="close" data-dismiss="modal" aria-label="Close">
															<span aria-hidden="true">&times;</span>
														</button>
													</div>
													<div class="modal-body">

															<div class="card-product" id="dish-price" >
															<% if items.dish.photo.attached?  %>
                                <%= cl_image_tag items.dish.photo.key, height: 300, width: 400, crop: :fill %>
                              <% else %>
                                <img height="300" width="400" src="https://res.cloudinary.com/dzyd1ynmn/image/upload/v1605792731/no_img_available_skqx9j.png">
                                http://res.cloudinary.com/dzyd1ynmn/image/upload/c_fill,h_300,w_400/1askgpvmvupv9jbodyzmcujo6cva
                              <% end %>
															<div class="product-infos">
																	<div class="title_price">
																		<h2><%= items.dish.name %></h2>
																		<h2>£ <%= items.dish.cost / 100 %></h2 >
																	</div>
																	<div class="row_description">
																		<% if  items.dish.dietary == "None" %>
																		<% else %>
																			<p> <%= "Perfect for #{items.dish.dietary} diets." %> </p>
																		<% end %>
																	</div>
																	<button type="button" class="btn btn-primary py-2" id="dish_basket" data-dish-id="<%= items.dish.id %>" data-dish-name="<%= items.dish.name %>">Add to Basket</button>
															</div>
															</div>
															<div class="dish_instructions">
																	<h2><strong>Instructions:</strong></h2>
																	<div>
																		<p> <%= items.dish.instructions %> </p>
																	</div>
															</div>
                               <% if items.dish.wine %>
															<div class="wine_title">
															<h2><strong>Perfect Pairing:</strong></h2>
															
															</div>
															<div class="card-product">
															<% if items.dish.wine.photo.attached?  %>
                                <%= cl_image_tag items.dish.wine.photo.key, height: 300, width: 400, crop: :fill %>
                              <% else %>
                                <img height="300" width="400" src="https://res.cloudinary.com/dzyd1ynmn/image/upload/v1605792731/no_img_available_skqx9j.png">
                                http://res.cloudinary.com/dzyd1ynmn/image/upload/c_fill,h_300,w_400/1askgpvmvupv9jbodyzmcujo6cva
                              <% end %>
																	<div class="product-infos">
																		<div class="title_price">
																				<h2><%= items.dish.wine.name %></h2>
																				<h2>£
																				<%= items.dish.wine.cost / 100 %></h2>
																		</div>
																		<div class="row_description">
																			<p> <%= items.dish.wine.description  %> </p>
																		</div>
																		<button type="button" class="btn btn-primary py-2" id="wine_basket" data-dish-id="<%= items.dish.wine.id %>" data-dish-name="<%= items.dish.wine.name %>">Add to Basket</button>
																	</div>
															</div>
															<% else %>
															<%= link_to "Add wine",  new_dish_wine_path(items.dish_id) if current_user.admin?  %>
                            <% end %>
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

													</div>
												</div>
											</div>
										</div>

											<p><%= items.dish.instructions if items.dish.prep_time == 0%></p>
											<p><%= "Ready in only #{items.dish.prep_time}minutes." if items.dish.prep_time > 0 %></p>

									</div>
									<h2 class="card-trip-pricing">£<%= items.dish.cost / 100  %></h2>


								</div>

							</div>
							<% end %>
						<% end %>
					<% end %>
				<% end %>
			</div>
		</div>


	<h3> Desserts </h3>
		<div class="row">
			<div class="cards">
				<% @restaurant.menus.each do |menu| %>
				<% if menu.tasting == false  %>
					<% menu.menu_items.each do |items| %>
						<% if items.dish.meal_category == "dessert"  %>
							<div class="card-dish" >
							<% if items.dish.photo.attached?  %>
                <%= cl_image_tag items.dish.photo.key, height: 300, width: 400, crop: :fill %>
              <% else %>
                <img height="300" width="400" src="https://res.cloudinary.com/dzyd1ynmn/image/upload/v1605792731/no_img_available_skqx9j.png">
                http://res.cloudinary.com/dzyd1ynmn/image/upload/c_fill,h_300,w_400/1askgpvmvupv9jbodyzmcujo6cva
              <% end %>
								<div class="card-dish-infos">
									<div>
										<!-- Button trigger modal -->
											<button type="button" class="btn link_to_modal" data-toggle="modal" data-target="#exampleModal_<%= items.dish.id %>">
												<%= items.dish.name %>
											</button>
											<button type="button" class="btn btn-primary py-2" id="dish_basket" data-dish-id="<%= items.dish.id %>" data-dish-name="<%= items.dish.name %>">Add to Basket</button>
										<!-- Modal -->
										<div class="modal fade" id="exampleModal_<%= items.dish.id %>" tabindex="-1" role="dialog" pearia-labelledby="exampleModalLabel" aria-hidden="true">
											<div class="modal-dialog" role="document">
												<div class="modal-content">
													<div class="modal-header">
														<h5 class="modal-title" id="exampleModalLabel"><%= items.dish.name %></h5>
														<button type="button" class="close" data-dismiss="modal" aria-label="Close">
															<span aria-hidden="true">&times;</span>
														</button>
													</div>
													<div class="modal-body">

															<div class="card-product" id="dish-price" >
															<% if items.dish.photo.attached?  %>
                                <%= cl_image_tag items.dish.photo.key, height: 300, width: 400, crop: :fill %>
                              <% else %>
                                <img height="300" width="400" src="https://res.cloudinary.com/dzyd1ynmn/image/upload/v1605792731/no_img_available_skqx9j.png">
                                http://res.cloudinary.com/dzyd1ynmn/image/upload/c_fill,h_300,w_400/1askgpvmvupv9jbodyzmcujo6cva
                              <% end %>
															<div class="product-infos">
																	<div class="title_price">
																		<h2><%= items.dish.name %></h2>
																		<h2>£ <%= items.dish.cost / 100 %></h2 >
																	</div>
																	<div class="row_description">
																		<% if  items.dish.dietary == "None" %>
																		<% else %>
																			<p> <%= "Perfect for #{items.dish.dietary} diets." %> </p>
																		<% end %>
																	</div>
																	<button type="button" class="btn btn-primary py-2" id="dish_basket" data-dish-id="<%= items.dish.id %>" data-dish-name="<%= items.dish.name %>">Add to Basket</button>
															</div>
															</div>
															<div class="dish_instructions">
																	<h2><strong>Instructions:</strong></h2>
																	<div>
																		<p> <%= items.dish.instructions %> </p>
																	</div>
															</div>
                               <% if items.dish.wine %>
															<div class="wine_title">
															<h2><strong>Perfect Pairing:</strong></h2>
															<%= link_to "Add wine",  new_dish_wine_path(items.dish.id) if current_user.admin?  %>
															</div>
															<div class="card-product">
															<% if items.dish.wine.photo.attached?  %>
                                <%= cl_image_tag items.dish.wine.photo.key, height: 300, width: 400, crop: :fill %>
                              <% else %>
                                <img height="300" width="400" src="https://res.cloudinary.com/dzyd1ynmn/image/upload/v1605792731/no_img_available_skqx9j.png">
                                http://res.cloudinary.com/dzyd1ynmn/image/upload/c_fill,h_300,w_400/1askgpvmvupv9jbodyzmcujo6cva
                              <% end %>
																	<div class="product-infos">
																		<div class="title_price">
																				<h2><%= items.dish.wine.name %></h2>
																				<h2>£
																				<%= items.dish.wine.cost / 100 %></h2>
																		</div>
																		<div class="row_description">
																			<p> <%= items.dish.wine.description  %> </p>
																		</div>
																		<button type="button" class="btn btn-primary py-2" id="wine_basket" data-dish-id="<%= items.dish.wine.id %>" data-dish-name="<%= items.dish.wine.name %>">Add to Basket</button>
																	</div>
															</div>
														<% end %>
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

													</div>
												</div>
											</div>
										</div>

											<p><%= items.dish.instructions if items.dish.prep_time == 0%></p>
											<p><%= "Ready in only #{items.dish.prep_time}minutes." if items.dish.prep_time > 0 %></p>

									</div>
									<h2 class="card-trip-pricing">£<%= items.dish.cost / 100  %></h2>

								</div>

							</div>
							<% end %>
						<% end %>
					<% end %>
				<% end %>
			</div>
		</div>



	</div>
  <% if current_user.admin? %>
	<%= link_to 'Create a new Dish', new_restaurant_dish_path(@restaurant) %>
  <% end %>

	<div class="restaurant-cart col col-lg-4 mx-3 "  >
    <h2>Basket</h2>

		<div class="basket-info"></div>


    <%= simple_form_for [@restaurant, @order] do |f| %>
    <%= f.input :dish_id, as: :hidden %>
    <%= f.input :wine_id, as: :hidden %>
    <%= @order.dish %>
    <%= f.submit 'Order', class: 'btn btn-primary' %>

    <%# <%= link_to "View Basket", dashboard_path, class: 'btn btn-checkout' %>
    <% end %>
  </div>
  </div>
</div>

