<div class="show_banner">
</div>
<div class="row show_banner mb-5 mb-5 justify-content-bewteen">
  <div class="col-8 restaurant-info" style="left: 35px;">
    <h1><%= @restaurant.name %> <i class="fas fa-utensils"></i></h1>
    <h6 style="max-width: 720px;"><%= @restaurant.description %></h6>
    <p><%= @restaurant.category %> <i class="fas fa-grip-lines-vertical"></i> <%= @restaurant.dietary %></p>
  </div>
  <div class="col-4" style="margin-left: -100px;">
    <iframe src="<%=@restaurant.spotify_url%>" width="450" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
  </div>
</div>

  <div class="tasting-menu row m-0">
    <div class="restaurant-cards col-7">
      <% @restaurant.menus.each do |menu| %>
        <% if menu.tasting == true  %>
          <div class="autoplay">
           <% menu.menu_items.each do |items| %>
              <div class="card-dish-tasting p-3" >
                <div class="row tasting_images d-flex justify-content-around">
                <% if items.dish.photo.attached?  %>
                  <%= cl_image_tag items.dish.photo.key, height: 250, width: 450,crop: :fill , :class => "tasting_img"  %>
                <% else %>
                  <img height="300" width="400" src="https://res.cloudinary.com/dzyd1ynmn/image/upload/v1605792731/no_img_available_skqx9j.png">
                <% end %>
                <i class="fas fa-plus-circle plus"></i>
                <% if items.dish.wine.present? && items.dish.wine.photo.attached? %>
                  <%= cl_image_tag items.dish.wine&.photo&.key, height:350, width: 120, crop: :fill, :class => "wine_img" %>
                <% end %>
                </div>
                <div class="card-dish-infos">
                  <div>

                    <p><%= items.dish.instructions if items.dish.prep_time == 0%></p>
                    <p><%#= "Ready in only #{items.dish.prep_time}minutes." if items.dish.prep_time > 0 %></p>
                  </div>
                  <!-- <h2 class="card-trip-pricing btn-price">£<%= items.dish.cost / 100  %></h2> -->
                </div>
                <h2 class="meal_category"> <%= items.dish.meal_category %> <i class="fas fa-grip-lines-vertical"></i> <%= items.dish.name %></h2>
                <h2 class="meal_category_name"> </h2>
                <% if items.dish.wine.present? && items.dish.wine.photo.attached? %>
                <div class="wine_carousel_description">
                <p> <%= items.dish.wine.description %> </p>
                </div>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="tasting_description col" id="tasting">
      <h1> Tasting Menu</h1>
      <% @restaurant.menus.each do |menu| %>

        <% if menu.tasting == true  %>
          <% menu.menu_items.each do |items| %>
            <ul>
              <li data-dish-id="<%= items.dish.id %>" data-dish-name="<%= items.dish.name %>" class="tasting-items">
                <%= items.dish.name %>
              </li>
            </ul>
          <% end %>
            <button type="button" class="btn btn-add-basket" id="tasting-basket" data-dish-id="<%= menu.menu_items.pluck(:dish_id).join(",") %>" data-dish-name="Tasting Menu">Choose our Tasting Menu!</button>
        <% end %>

      <% end %>
    </div>
    <div class="wine_description col">
      <h1>Wine Pairing</h1>

        <% @restaurant.menus.each do |menu| %>
          <% if menu.tasting == true  %>
            <% menu.menu_items.each do |items| %>
              <ul>
                <% if items.dish.wine.present? %>
                <li> <button type="button" class="btn-wine" id="wine_basket" data-dish-id="<%= items.dish.wine.id %>" data-dish-name="<%= items.dish.wine.name %>"><i class="fas fa-wine-glass-alt"> </i><%= items.dish.wine.name if items.dish.wine.nil? == false%></button></li>
                <% else %>
                <li></li>
                <% end %>
              </ul>
            <% end %>

          <% end %>
        <% end %>
    </div>
  </div>


<div class="bottom-container">
  <div class="alacarte col-8">

    <div class="new-dish justify-content-bewteen m-4">
      <% if current_user.admin? %>
      <%= link_to 'Add a New Dish to Your Menu!', new_restaurant_dish_path(@restaurant), class: 'btn btn-primary' %>
      <% end %>
    <h2 style="margin-left: -100px;"> A la Carte </h2>
    </div>
    <div class="menu-title">
        <h3> Starters </h3>
			<div class="alacarte_cards">
				<% @restaurant.menus.each do |menu| %>
				<% if menu.tasting == false  %>
					<% menu.menu_items.each do |items| %>
						<% if items.dish.meal_category == "Starter"  %>
							<div class="card-dish " >
							<% if items.dish.photo.attached?  %>
                <%= cl_image_tag items.dish.photo.key, height: 300, width: 400, crop: :fill %>
                <% else %>
                <img height="300" width="400" src="https://res.cloudinary.com/dzyd1ynmn/image/upload/v1605792731/no_img_available_skqx9j.png">
              <% end %>
								<div class="card-dish-infos mt-4">

                    <!-- Button trigger modal -->
											<button type="button" class="btn link_to_modal" data-toggle="modal" data-target="#exampleModal_<%= items.dish.id %>">
												<%= items.dish.name %>
											</button>
											<!-- <button type="button" class="btn btn-primary py-2" id="dish_basket" data-dish-id="<%= items.dish.id %>" data-dish-name="<%= items.dish.name %>">Add to Basket</button> -->


                    <!-- Modal -->
										<div class="modal fade" id="exampleModal_<%= items.dish.id %>" tabindex="-1" role="dialog" pearia-labelledby="exampleModalLabel" aria-hidden="true">
											<div class="modal-dialog" role="document">
												<div class="modal-content">
													<div class="modal-header">
														<h5 class="modal-title" id="exampleModalLabel"><%= items.dish.name %></h5>
														<button type="button" class="close" data-dismiss="modal" aria-label="Close">
															<span aria-hidden="true">&times;</span>
														</button>
													</div>
													<div class="modal-body">
														<div class="card-product" id="dish-price" >
															<% if items.dish.photo.attached?  %>
                                <%= cl_image_tag items.dish.photo.key, height: 300, width: 400, crop: :fill %>
                              <% else %>
                                <img height="300" width="400" src="https://res.cloudinary.com/dzyd1ynmn/image/upload/v1605792731/no_img_available_skqx9j.png">
                              <% end %>
															  <div class="product-infos">
																	<div class="title_price">
																		<h2><%= items.dish.name %></h2>
																		<h2>£ <%= items.dish.cost / 100 %></h2 >
																	</div>
																  <div class="row_description">
																		<% if  items.dish.dietary == "None" %>
																		<% else %>
																			<p> <%= "Perfect for #{items.dish.dietary} diets." %> </p>
																		<% end %>
																  </div>
															    <button type="button" class="btn btn-primary py-2" id="dish_basket" data-dish-id="<%= items.dish.id %>" data-dish-name="<%= items.dish.name %>">Add to Basket</button>
															  </div>
															</div>
															<div class="dish_instructions">
																	<h2><strong>Instructions:</strong></h2>
																	<div>
																		<p> <%= items.dish.preparation %> </p>
																	</div>
															</div>
                                <% if items.dish.wine %>
    															<div class="wine_title">
    															<h2><strong>Perfect Pairing:</strong></h2>
    																<%= link_to "Add wine",  new_dish_wine_path(items.dish.id) if current_user.admin?  %>
    															</div>
  															    <div class="card-product">
        															<% if items.dish.wine.photo.attached?  %>
                                        <%= cl_image_tag items.dish.wine.photo.key, height: 300, width: 150, crop: :fill %>
                                      <% else %>
                                        <img height="300" width="400" src="https://res.cloudinary.com/dzyd1ynmn/image/upload/v1605792731/no_img_available_skqx9j.png">
                                      <% end %>
  																	  <div class="product-infos">
  																		  <div class="title_price">
  																				<h2><%= items.dish.wine.name %></h2>
  																				<h2>£
  																				<%= items.dish.wine.cost / 100 %></h2>
  																		  </div>
      																		<div class="row_description">
      																			<p> <%= items.dish.wine.description  %> </p>
      																		</div>
  																		    <button type="button" class="btn btn-primary py-2" id="wine_basket" data-dish-id="<%= items.dish.wine.id %>" data-dish-name="<%= items.dish.wine.name %>">Add to Basket</button>
  																	  </div>
  															    </div>
  															<% else %>
  															 <%= link_to "Add wine",  new_dish_wine_path(items.dish_id) if current_user.admin?  %>
  														  <% end %>
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
													</div>
												</div>
											</div>
										</div>


											<p><%= "Ready to serve" if items.dish.prep_time.nil? %></p>
											<p><%= "#{items.dish.prep_time} minutes to prepare!" if items.dish.prep_time.nil? == false %></p>



									<h5 class="card-trip-pricing btn-white">£<%= items.dish.cost / 100  %></h5>

								</div>

							</div>
							<% end %>
						<% end %>
					<% end %>
				<% end %>
			</div>
		</div>



		<div class="menu-title">
      <h3> Main </h3>
			<div class="alacarte_cards">
				<% @restaurant.menus.each do |menu| %>
				<% if menu.tasting == false  %>
					<% menu.menu_items.each do |items| %>
						<% if items.dish.meal_category == "Main"  %>
							<div class="card-dish" >
							<% if items.dish.photo.attached?  %>
                <%= cl_image_tag items.dish.photo.key, height: 300, width: 400, crop: :fill %>
              <% else %>
                <img height="300" width="400" src="https://res.cloudinary.com/dzyd1ynmn/image/upload/v1605792731/no_img_available_skqx9j.png">
              <% end %>
								<div class="card-dish-infos mt-4">
									<div>
										<!-- Button trigger modal -->
											<button type="button" class="btn link_to_modal" data-toggle="modal" data-target="#exampleModal_<%= items.dish.id %>">
												<%= items.dish.name %>
											</button>
											<!-- <button type="button" class="btn btn-primary py-2" id="dish_basket" data-dish-id="<%= items.dish.id %>" data-dish-name="<%= items.dish.name %>">Add to Basket</button> -->
										<!-- Modal -->
										<div class="modal fade" id="exampleModal_<%= items.dish.id %>" tabindex="-1" role="dialog" pearia-labelledby="exampleModalLabel" aria-hidden="true">
											<div class="modal-dialog" role="document">
												<div class="modal-content">
													<div class="modal-header">
														<h5 class="modal-title" id="exampleModalLabel"><%= items.dish.name %></h5>
														<button type="button" class="close" data-dismiss="modal" aria-label="Close">
															<span aria-hidden="true">&times;</span>
														</button>
													</div>
													<div class="modal-body">

															<div class="card-product" id="dish-price" >
															<% if items.dish.photo.attached?  %>
                                <%= cl_image_tag items.dish.photo.key, height: 300, width: 400, crop: :fill %>
                              <% else %>
                                <img height="300" width="400" src="https://res.cloudinary.com/dzyd1ynmn/image/upload/v1605792731/no_img_available_skqx9j.png">
                              <% end %>
															<div class="product-infos">
																	<div class="title_price">
																		<h2><%= items.dish.name %></h2>
																		<h2>£ <%= items.dish.cost / 100 %></h2 >
																	</div>
																	<div class="row_description">
																		<% if  items.dish.dietary == "None" %>
																		<% else %>
																			<p> <%= "Perfect for #{items.dish.dietary} diets." %> </p>
																		<% end %>
																	</div>
																	<button type="button" class="btn btn-primary p-2" id="dish_basket" data-dish-id="<%= items.dish.id %>" data-dish-name="<%= items.dish.name %>">Add to Basket</button>
															</div>
															</div>
															<div class="dish_instructions">
																	<h2><strong>Instructions:</strong></h2>
																	<div>
																		<p> <%= items.dish.preparation %> </p>
																	</div>
															</div>
                               <% if items.dish.wine %>
															<div class="wine_title">
															<h2><strong>Perfect Pairing:</strong></h2>

															</div>
															<div class="card-product">
															<% if items.dish.wine.photo.attached?  %>
                                <%= cl_image_tag items.dish.wine.photo.key, height: 300, width: 100, crop: :fill %>
                              <% else %>
                                <img height="300" width="400" src="https://res.cloudinary.com/dzyd1ynmn/image/upload/v1605792731/no_img_available_skqx9j.png">
                              <% end %>
																	<div class="product-infos">
																		<div class="title_price">
																				<h2><%= items.dish.wine.name %></h2>
																				<h2>£
																				<%= items.dish.wine.cost / 100 %></h2>
																		</div>
																		<div class="row_description">
																			<p> <%= items.dish.wine.description  %> </p>
																		</div>
																		<button type="button" class="btn btn-primary p-2" id="wine_basket" data-dish-id="<%= items.dish.wine.id %>" data-dish-name="<%= items.dish.wine.name %>">Add to Basket</button>
																	</div>
															</div>
															<% else %>
															<%= link_to "Add wine",  new_dish_wine_path(items.dish_id) if current_user.admin?  %>
                            <% end %>
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

													</div>
												</div>
											</div>
										</div>

											<p><%= "Ready to serve" if items.dish.prep_time.nil? %></p>
                      <p><%= "#{items.dish.prep_time} minutes to prepare!" if items.dish.prep_time.nil? == false %></p>

									</div>
									<h5 class="card-trip-pricing btn-white">£<%= items.dish.cost / 100  %></h5>


								</div>

							</div>
							<% end %>
						<% end %>
					<% end %>
				<% end %>
			</div>
		</div>



		<div class="menu-title">
      <h3> Desserts </h3>
			<div class="alacarte_cards">
				<% @restaurant.menus.each do |menu| %>
				<% if menu.tasting == false  %>
					<% menu.menu_items.each do |items| %>
						<% if items.dish.meal_category == "Dessert"  %>
							<div class="card-dish" >
							<% if items.dish.photo.attached?  %>
                <%= cl_image_tag items.dish.photo.key, height: 300, width: 400, crop: :fill %>
              <% else %>
                <img height="300" width="400" src="https://res.cloudinary.com/dzyd1ynmn/image/upload/v1605792731/no_img_available_skqx9j.png">
              <% end %>
								<div class="card-dish-infos mt-4">
									<div>
										<!-- Button trigger modal -->
											<button type="button" class="btn link_to_modal" data-toggle="modal" data-target="#exampleModal_<%= items.dish.id %>">
												<%= items.dish.name %>
											</button>
											<!-- <button type="button" class="btn btn-primary py-2" id="dish_basket" data-dish-id="<%= items.dish.id %>" data-dish-name="<%= items.dish.name %>">Add to Basket</button> -->
										<!-- Modal -->
										<div class="modal fade" id="exampleModal_<%= items.dish.id %>" tabindex="-1" role="dialog" pearia-labelledby="exampleModalLabel" aria-hidden="true">
											<div class="modal-dialog" role="document">
												<div class="modal-content">
													<div class="modal-header">
														<h5 class="modal-title" id="exampleModalLabel"><%= items.dish.name %></h5>
														<button type="button" class="close" data-dismiss="modal" aria-label="Close">
															<span aria-hidden="true">&times;</span>
														</button>
													</div>
													<div class="modal-body">

															<div class="card-product" id="dish-price" >
															<% if items.dish.photo.attached?  %>
                                <%= cl_image_tag items.dish.photo.key, height: 300, width: 400, crop: :fill %>
                              <% else %>
                                <img height="300" width="400" src="https://res.cloudinary.com/dzyd1ynmn/image/upload/v1605792731/no_img_available_skqx9j.png">
                              <% end %>
															<div class="product-infos">
																	<div class="title_price">
																		<h2><%= items.dish.name %></h2>
																		<h2>£ <%= items.dish.cost / 100 %></h2 >
																	</div>
																	<div class="row_description">
																		<% if  items.dish.dietary == "None" %>
																		<% else %>
																			<p> <%= "Perfect for #{items.dish.dietary} diets." %> </p>
																		<% end %>
																	</div>
																	<button type="button" class="btn btn-primary py-2" id="dish_basket" data-dish-id="<%= items.dish.id %>" data-dish-name="<%= items.dish.name %>">Add to Basket</button>
															</div>
															</div>
															<div class="dish_instructions">
																	<h2><strong>Instructions:</strong></h2>
																	<div>
																		<p> <%= items.dish.preparation %> </p>
																	</div>
															</div>
                               <% if items.dish.wine %>
															<div class="wine_title">
															<h2><strong>Perfect Pairing:</strong></h2>
															<%= link_to "Add wine",  new_dish_wine_path(items.dish.id) if current_user.admin?  %>
															</div>
															<div class="card-product">
															<% if items.dish.wine.photo.attached?  %>
                                <%= cl_image_tag items.dish.wine.photo.key, height: 300, width: 150, crop: :fill %>
                              <% else %>
                                <img height="300" width="400" src="https://res.cloudinary.com/dzyd1ynmn/image/upload/v1605792731/no_img_available_skqx9j.png">
                              <% end %>
																	<div class="product-infos">
																		<div class="title_price">
																				<h2><%= items.dish.wine.name %></h2>
																				<h2>£
																				<%= items.dish.wine.cost / 100 %></h2>
																		</div>
																		<div class="row_description">
																			<p> <%= items.dish.wine.description  %> </p>
																		</div>
																		<button type="button" class="btn btn-primary py-2" id="wine_basket" data-dish-id="<%= items.dish.wine.id %>" data-dish-name="<%= items.dish.wine.name %>">Add to Basket</button>
																	</div>
															</div>
															<% else %>
															<%= link_to "Add wine",  new_dish_wine_path(items.dish_id) if current_user.admin?  %>
														<% end %>
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
													</div>
												</div>
											</div>
										</div>
											<p><%= "Ready to serve" if items.dish.prep_time.nil? %></p>
                      <p><%= "#{items.dish.prep_time} minutes to prepare!" if items.dish.prep_time.nil? == false %></p>
									</div>
									<h5 class="card-trip-pricing btn-white">£<%= items.dish.cost / 100  %></h5>
								  </div>
							  </div>
							<% end %>
						<% end %>
					<% end %>
				<% end %>

			</div>
    </div>
  </div>

	<div class="col-3 restaurant-cart basket-info">
    <h4>Basket</h4>
    <%= simple_form_for [@restaurant, @order] do |f| %>
    <%= f.input :dish_id, as: :hidden %>
    <%= f.input :wine_id, as: :hidden %>
		<%= f.input :status, :input_html => { :value => 'Being Prepared' }, as: :hidden %>
    <%= @order.dish %>
    <%= f.submit 'Confirm Order', class: 'btn btn-gold' %>
    <%# <%= link_to "View Basket", dashboard_path, class: 'btn btn-checkout' %>
    <% end %>
  </div>
</div>

<div class="container p-5">
      <form action="<%= restaurant_reviews_path(@restaurant) %>" >
      <button class="learn-more">
        <span class="circle" aria-hidden="true">
          <span class="icon arrow"></span>
        </span>
        <span class="button-text">Reviews</span>
      </button>
    </form>
 </div>






