<div id="container">
  <div id="row" class="d-flex justify-content-center p-3">

      <h1 id="index-title" class="my-5"></h1>
      <div class="form-container flex-column" >
        <h3>Add a Wine</h3>
      <div class="row m-2 justify-content-center">
        <%= simple_form_for [@dish, @wine] do |f| %>
            <%= f.input :name %>
            <%= f.input :photo, as: :file %>
            <%= f.input :cost %>
            <%= f.input :description %>
            <%= f.input :year %>
            <%= f.input :description %>

            <%= f.submit 'Add Wine', class: 'btn btn-primary' %>
        <% end %>
        </div>
      </div>

  </div>
</div>
